#!/usr/bin/make -f

configure: 
				dh_testdir
build: configure 
				dh_testdir
				touch $@

clean: 
				dh_testdir
				dh_testroot
				dh_clean 

install: build
				dh_testdir
				dh_testroot
				dh_clean -k 
				dh_installdirs

				install -o root -g root -m 755 $(CURDIR)/jobq         $(CURDIR)/debian/jobq/usr/bin/jobq
				install -o root -g root -m 755 $(CURDIR)/jobq-profile $(CURDIR)/debian/jobq/usr/bin/jobq-profile
				install -o root -g root -m 755 $(CURDIR)/jobq-stat    $(CURDIR)/debian/jobq/usr/bin/jobq-stat

binary: build install
				dh_testdir
				dh_testroot
				dh_installchangelogs 
				dh_installdocs
				dh_installexamples
				dh_installman
				dh_link
				dh_compress
				dh_fixperms
				dh_installdeb
				dh_gencontrol
				dh_md5sums
				dh_builddeb

.PHONY: build clean binary install configure
